:root{
  --fontcolor: #FFAA00;
}
#head:hover {
  color:red;
  font-family:'Times New Roman', Times, serif;
}
body{
  background-color: salmon;
  color:var(--fontcolor);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.food {
  color: red; 
  
}

img {
  width:40%;
  height:40%;
  border: 10px solid #00FF00;
  padding:5px;
}

#tablesection{
  background-color: lightyellow;
}

footer{
  background-color: black;
}